h1{
    padding: 30px;
    text-align: center;
    background-color: rgba(31, 53, 116, 0.623);
    color: white;
    
  }
 
div{
    text-align: center;
    }

#map{ 
    margin: auto;
     width:700px; height: 500px; 
    }

body{
    background-color: rgb(236, 239, 252);
}

#destination{
    font-size: large;
    text-align: center;
}

.hide{}

.divsToRemove {
    width: 600px;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
  }
  