h1{
    padding: 30px;
    text-align: center;
    background-color: rgba(31, 53, 116, 0.623);
    color: white;
    
  }
 
div{
    text-align: center;
    }

#map{ 
    margin: auto;
     width:700px; height: 500px; 
    }

body{
    background-color: rgb(236, 239, 252);
}

#submit{
    width: 40em;
    
}

#destination{
    font-size: large;
}